@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>温馨提示</title>
</head>
<body>
    <div style="margin:150px auto;text-align:center;color:orangered;">
        <h2>抱歉！权限不足，你不具备你请求的功能的权限。</h2>
    </div>
</body>
</html>
